<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="header_top">
  </div>
  <!-- 引入头部组件 -->
  <%= require('@/components/header/header.ejs')({ header_name: 'header' }) %>
  <!-- 不转义 -->
  <%= require('./header.ejs')({  title: 'title', desc: 'desc' }) %>
  <!-- 转义 -->
  <%- require('./header.ejs')({  title: 'title', desc: 'desc' }) %>
  这里是主页，
  <a href="./about.html">关于我们</a>
  <div class="test">css测试</div>
  <!-- 引入尾部组件 -->
  <%= require('@/components/footer/footer.ejs')({ footer_name: 'footer' }) %>
  <div class="small-webpack"></div>
  <div class="webpack"></div>

</body>

</html>