<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <%- require('./components/header.ejs?')({ title: 'title' , desc: 'desc' }) %>

    这里是主页，
    <div class="test">css测试</div>
    <a href="./about.html">关于我们</a>    
    <a href="./welcome.html">welcome</a>
    <a href="./home.html">home</a>
    <a href="./demo.html">demo</a>
    <a href="./404.html">404</a>
    <a href="./pageA.html">pageA</a>
    <a href="./pageB.html">pageB</a>
    <a href="./contact.html">contact</a>
    <a href="./polyfill.html">polyfill</a>
</body>

</html>