<div class="logo-wrap">
	<img class="logo webpack-logo" src="<%= require('../assets/images/webpack.png') %>" alt="webpack logo">
	<span>+</span>
	<img class="logo node-logo" src="<%= require('../assets/images/js.jpg') %>" alt="node logo">
</div>