<!DOCTYPE html>
<html>

<head>
	<!-- title -->
	<%- require('@/components/title.ejs')({title: '404' }) -%>
		<!-- link -->
		<%- include ../../components/link.ejs -%>
</head>

<body>
	<div id="root">
		<div class="trans-center animated backInRight">
			<div class="status-404">Not Found.</div>
		</div>
	</div>
</body>

</html>